@page
@model RazorPagesUI.Pages.Forms.AddAddressModel
@{
    ViewData["Title"] = "Add Address";
}

<h1>Add Address</h1>
<form method="post">
    <input type="text"  asp-for="Address.Name" placeholder="Name" /></br>
    <input type="text" asp-for="Address.StreetAddress" placeholder="Street Address" /></br>
    <input type="text" asp-for="Address.City" placeholder="City" /></br>
    <input type="text" asp-for="Address.State" placeholder="State" /></br>
    <input type="text" asp-for="Address.ZipCode" placeholder="Zip Code" /></br>
    <button type ="submit">Submit</button>
</form>